*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: lightblue;
  color: rgb(95, 95, 95);
  padding: 10px 20px;
}

h1 {
  font-size: 32px;
}

a {
  display: inline-block;
}

h1, nav > a, section {
  padding: 10px 20px 10px 0;
}

.heading404 {
  line-height: 100%;
  width: 100%;
  text-align: center;
}
